* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#page-wrapper {
  background-image: url('../media/images/mobile/bg-image-daytime.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

#page-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

#main { 
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
 }

#main.more { top: calc(100% - 150px); }
#main.less { top: 100%; }

#main #main-wrapper {
  color: white;
  text-transform: uppercase;
  position: relative;
}

#main #primary {

  position: absolute;
  height: 340px;
  top: -340px;
  padding: 20px;}

#main #secondary {
  padding: 20px;
}

#main #primary__greeter {
  font-size: 15px;
  font-weight: 200;
  color: white;
}

#main #primary__greeter img {
  display: inline;
  text-align: center;
}

#main #primary__greeter p {
  display: inline;
  vertical-align: top;
  line-height: 20px;
  font-size: 20px;
}

#main #primary__time {
  font-size: 125px;
  font-weight: 700;
  margin: 10px 0;
}

#main #primary__location p {
  vertical-align: top;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 50px;
}

#main #primary__menu-switcher {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

#main #primary__menu-switcher__inner {
  position: relative;
}

#main #primary__menu-switcher p {
  padding: 7.5px;
  width: 100px;
  display: inline-block;
  height: 40px;
  color: #303030;
  vertical-align: top;
  font-size: 15px;
}

#main #primary__menu-switcher p::after {
  position: absolute;
  transition: all 0.3s ease;
}

#main #primary__menu-switcher p.less::after {
  left: 10px;
  content: "MORE"
}

#main #primary__menu-switcher p.more::after {
  position: absolute;
  left: 40px;
  content: "LESS"
}

#main #primary__toggle {
  width: 30px;
  height: 30px;
  background-color: #303030;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  transition: all 0.3s ease
}

#main #primary__toggle.more { left: calc(0px + 0px); }
#main #primary__toggle.less { left: calc(0px + 60px); }

#main #secondary {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px) brightness(1.2);
}